# STM32 / CubeIDE
.metadata/
.settings/

# Build folders
Debug/
Release/

# Object files
*.o
*.d
*.su

# Executables / outputs
*.elf
*.map
*.list
*.hex
*.bin

# IDE / logs
*.launch
*.log

# System files
.DS_Store
Thumbs.db